mixin info(label, path, data = [])
  .info
    .info__icon
      img(src=path, alt="")
    .info__content
      h4.info__label= label
      ul.info__list
      each data_item in data 
        li 
          if data_item.link
            a(href="#")= data_item.text
          else if data_item.link_dark
            a.info--dark(href="#")= data_item.text
          else
            span= data_item.text

mixin intro-form(label, input, btn)
  .intro-form 
    .intro-form__label= label
    .intro-form__wrap 
      input.intro-form__input(type="text", placeholder=input)
      .intro-form__btn= btn