mixin info(label, path, data = [])
  .info
    .info__icon
      img(src=path, alt="")
    .info__content
      h4.info__label= label
      ul.info__list
      each data_item in data 
        li 
          if data_item.link
            a(href="#")= data_item.text
          else if data_item.link_dark
            a.info--dark(href="#")= data_item.text
          else
            span= data_item.text

mixin intro-form(label, input, btn, class_name)
  .intro-form(class=class_name) 
    .intro-form__label= label
    .intro-form__wrap 
      input.intro-form__input(type="text", placeholder=input)
      .intro-form__btn= btn

mixin range(percent, number, desc, color)
  .ranges__block
    .ranges__range
      if (color)
        svg.ranges__circle(viewBox="0 0 36 36")
          path.ranges__circle-bg(stroke=color d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
          path.ranges__circle-base(stroke-dasharray=percent stroke=color  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
    .ranges__wrapper
      .ranges__number= number
      .ranges__description= desc

mixin link(href, title)
  a.link(href=href)
    span= title
    include ../blocks/icons/icon-link.pug

mixin list(...items)
  ul.list
    each item in items
      li 
        include ../blocks/icons/icon-list.pug
        span= item

mixin post(data)
  .post
    .post__img
      img(src=data.img, alt="")
      if (data.label) 
        .post__label= data.label
    .post__content
      ul.post__list
        each tag in data.tags
          li 
            if (tag.img)
              img(src=tag.img, alt="" width="16")
            span= tag.text
      h3.post__title= data.title
      if (data.text)
        .post__text= data.text
      +link(data.link.href, data.link.text)

mixin category_list(...items)
  ul.category-list 
    each item in items
      li= item

mixin post_small(data)
  .post-small
      .post-small__img
          img(src=data.img, alt="")
      .post-small__content
          .post-small__info
              img(src="assets/img/icons/clock.svg", alt="")
              span= data.date
          h3.post-small__subtitle= data.title